version: "3"
services:
  backend:
    build:
      context: ./backend/gpt-agents
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - mynetwork
    depends_on:
      - mysql

  frontend:
    build:
      context: ./gptAgentsFE
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - mynetwork
    environment:
      - BACKEND_URL=http://backend:8080

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gpt-agents
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - mynetwork

networks:
  mynetwork:

volumes:
  mysql-data:
