<div
  ngClass=" d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Chat List</span>
  </a>
  <hr />
  <div class="b-example-divider b-example-vr"></div>
  <ul class="nav nav-pills flex-column mb-auto">
    <app-chat-element
      class="nav-item active"
      *ngFor="let chatElement of chatList"
      [chat]="chatElement"
    ></app-chat-element>
  </ul>
</div>
